<app-header></app-header>

<ion-content fullscreen="xl">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h3><ion-icon name="barbell"></ion-icon> Bienvenido al Gym</h3>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-img src="./assets/img/Gym1.jpeg"></ion-img>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nuestro equipo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Los gimnasios de Quito y Ecuador estamos listos para la reapertura. Cambiamos la forma de ingresar.
            Cuando volvamos, por favor acércate a recepción y retira tu llavero para que puedas ingresar a nuestras
            instalaciones más seguro y libre de contacto por Covid19. El deporte se va activando, entrenar, correr y caminar
            es seguro con nuestro Protocolo de Bioseguridad, revisado y aprobado por las autoridades. Por favor acceda a éste
            documento para mayor detalle con el cual los gimnasios abriremos las puertas próximamente.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">Contamos con profesionales de excellencia</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-list>
          <ion-item>
            <ion-avatar slot="end">
              <img src="./assets/img/Jimena.jpeg">
            </ion-avatar>
            <ion-label>
              <h3>JIMENA CHALA</h3>
              <p>TRAINNER</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="end">
              <img src="./assets/img/Carlos.jpeg">
            </ion-avatar>
            <ion-label>
              <h3>CARLOS PÉREZ</h3>
              <p>TRAINNER</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="end">
              <img src="./assets/img/Maria.jpeg">
            </ion-avatar>
            <ion-label>
              <h3>MARÍA RAMOS</h3>
              <p>TRAINNER</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="warning" size="small">Trabajo Grupo 3</ion-title>
  </ion-toolbar>
</ion-footer>
