<app-header></app-header>

<ion-content fullscreen="xl">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        Bienvenido al Gym
      </ion-col>
      <ion-col>
        <img src="./assets/img/Gym1.jpeg"  alt="Gimnasio"/>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nuestro equipo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Los gimnasios de Quito y Ecuador estamos listos para la reapertura. Cambiamos la forma de ingresar.
            Cuando volvamos, por favor acércate a recepción y retira tu llavero para que puedas ingresar a nuestras
            instalaciones más seguro y libre de contacto por Covid19. El deporte se va activando, entrenar, correr y caminar
            es seguro con nuestro Protocolo de Bioseguridad, revisado y aprobado por las autoridades. Por favor acceda a éste
            documento para mayor detalle con el cual los gimnasios abriremos las puertas próximamente.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
